__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.egg
dist/
build/
*.so
data/*
!data/admet_group/
data/admet_group/*
!data/admet_group/cyp2d6_substrate_carbonmangels/
data/admet_group/cyp2d6_substrate_carbonmangels/*
!data/admet_group/cyp2d6_substrate_carbonmangels/test.csv
!data/admet_group/cyp2d6_substrate_carbonmangels/train_val.csv
output/*
!output/cyp2d6_sub_results.json
!output/predictions_test.txt
.env
*.log
.venv/
venv/
.ipynb_checkpoints/
*.pkl
*.npy
*.npz
.DS_Store
